html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-top: 60px; /* Para compensar header fijo */
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
}

.caja {
    display: flex;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center;       /* Centra verticalmente */
    text-align: center;        /* Centra el texto */
    width: 100px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
        
}

.caja:hover {
    transform: scale(1.05); /* aumenta un poco */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* sombra suave */
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px 0;
}