body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  transition: background-color 0.5s ease;
  background-color: rgb(143, 143, 143);
}

h1 {
  margin-top: 20px;
}

.contenedor {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cuadrado {
  width: 180px;      
  height: 80px;      
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  transition: transform 0.3s;
}


.cuadrado:hover {
  transform: scale(1.1);
}

.expandido {
  transform: scale(1.3);
}

.contenedor-logo{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}