/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Empuja el footer abajo */
}
